/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0A3172;
  --primary-light: #2C5697;
  --primary-dark: #072658;
  
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #1a1a1a;
}

/* Toggle switch styles */
.toggle-checkbox:checked {
  right: 0;
  border-color: #fff;
  transform: translateX(100%);
}

.toggle-checkbox:focus {
  outline: none;
}
